<main class="auth-container" id="register-view">
    <h1>Create an Account</h1>

    <% let msg=typeof message !=="undefined" ? message : "" ; %>

        <% if (errors && errors.length) { %>
            <div class="flash-messages error">
                <%= errors[0].msg %>
            </div>
            <% } %>

                <% if (msg) { %>
                    <div class="flash-messages success">
                        <%= msg %>
                    </div>
                    <% } %>

                        <form class="register-form" action="/account/register" method="post">
                            <div class="form-group">
                                <label for="firstname">First Name:</label>
                                <input type="text" id="firstname" name="firstname" required>
                            </div>

                            <div class="form-group">
                                <label for="lastname">Last Name:</label>
                                <input type="text" id="lastname" name="lastname" required>
                            </div>

                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email" required>
                            </div>

                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" id="password" name="password" required>
                            </div>

                            <button type="submit" class="btn-submit">Register</button>
                        </form>

                        <div class="alternate-action">
                            <p>Already have an account? <a href="/account/login">Login here</a></p>
                        </div>
</main>