<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE Motors</title>
    <meta name="description"
        content="CSE Motors offers quality cars including sedans, SUVs, trucks, and custom vehicles.">
    <meta name="keywords"
        content="CSE Motors, Cars, Sedans, SUVs, Trucks, Custom Cars, Auto Financing, Auto Sales, Automotive Services">
    <meta name="author" content="CSE Motors">
    <link rel="stylesheet" href="/css/styles.css" media="screen">
</head>