<%- include("../partials/header") %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <!-- Vehicle Grid -->
        <section class="vehicle-list">
            <%- grid %>
        </section>
    </main>